/* 주 색상 : #FA5019
   bg색상  : #0D0D0D */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-family: "Noto Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/*------------header-------------*/
header {
  width: 100%;
  height: 5vh;
  background-color: #0d0d0d;
  color: #fff;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  z-index: 10;
}
/*header 왼쪽*/
header h1 {
  font-size: 1.2rem;
  font-weight: 200;
}
header span {
  color: #fa5019;
  font-weight: 700;
}
/*header  오른쪽*/
header > div {
  display: flex;
  gap: 30px;
  font-size: 0.8rem;
}
header div ul:nth-of-type(1) {
  display: flex;
  gap: 20px;
  padding: 5px;
}
header div ul:nth-of-type(1) li:hover {
  color: #fa5019;
}
header .online {
  background-color: #333;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
}
header .online:hover {
  background-color: #fa5019;
}
header div ul:nth-of-type(2) {
  display: flex;
  gap: 10px;
  padding: 5px;
}
header div ul:nth-of-type(2) li:hover {
  color: #999;
}
/*------------visual-------------*/
#visual {
  width: 100%;
  height: 100vh;
  background-color: #fa5019;
}
#visual > div {
  width: 1400px;
  height: 100%;
  position: relative;
  margin: 0px auto;
}
#visual p {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}
#visual h4 {
  font-family: "DM Serif Display", serif;
  font-size: 10rem;
  font-weight: 400;
}
#visual h4:nth-of-type(1) {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translateX(-50%);
}
#visual h4:nth-of-type(2) {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
#visual h4:nth-of-type(3) {
  position: absolute;
  top: 58%;
  left: 60%;
  transform: translateX(-50%);
}
/*------------container-------------*/

/*--------con01---------*/
#con01 {
  width: 1400px;
  height: 100vh;
  margin: 0px auto;
  color: #fa5019;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}
#con01 :first-child {
  font-size: 5rem;
  font-weight: 500;
}
#con01 :last-child {
  font-size: 2rem;
  text-align: right;
  font-weight: 500;
}
/*--------con02---------*/
/*con02 위쪽*/
#con02 > div:nth-of-type(1) {
  background: url(../img/con01/con01.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  text-align: center;
  color: #fff;
  font-size: 2.3rem;
  font-family: "DM Serif Display", serif;
  letter-spacing: 5px;
  line-height: 40vh;
}
/*con02 아랫쪽*/
#con02 .bottom {
  width: 1400px;
  height: 60vh;
  display: flex;
  gap: 20px;
  margin: 0px auto;
}
#con02 .bottom > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  /* width: 40%; */
  height: 100%;
  padding: 20px 10px;
}
#con02 .bottom ul:last-child {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  color: #444;
  font-size: 0.7rem;
}
#con02 .bottom ul:last-child li::before {
  content: "｜";
  transform: translateX(-30%);
}
/*con02 아랫글 오른쪽*/
#con02 .bottom_right {
  width: 100%;
  height: 100%;
  text-align: right;
  font-size: 0.6rem;
}
#con02 .bottom_right ul {
  display: flex;
  /* background-color: #333; */
  gap: 10px;
}
#con02 .bottom_right ul li {
  width: calc(100% / 3);
}
#con02 .bottom_right img {
  width: 100%;
}
/*--------con03---------*/
#con03 {
  width: 1400px;
  height: 100%;
  margin: 100px auto;
}
#con03 ul {
  width: 100%;
  display: flex;
  gap: 20px;
}
#con03 ul img {
  width: 100%;
}
#con03 ul li:nth-child(2n) {
  transform: translateY(30px);
}

/*--------con04---------*/
#con04 {
  width: 1400px;
  height: 100vh;
  margin: 0px auto;
}
#con04 > div {
  width: 100%;
  margin: 0px auto;
}
#con04 > p {
  color: #fa5019;
  font-weight: 600;
}
#con04 h3 {
  margin: 10px 0px 20px;
  font-size: 1.7rem;
}
#con04 > div {
  width: 100%;
  margin: 0px auto;
}
/*con04 내용변경버튼*/
#con04 .btn {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  cursor: pointer;
  margin: 50px 0px;
}
#con04 .btn div {
  border: 1px solid #fa5019;
  width: 120px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  transition: 0.3s;
}
a {
  display: block;
}
#con04 .btn div:hover {
  background-color: #fa5019;
  color: #fff;
}
/*con04 ul li 수평네모리스트*/
#con04 ul {
  display: flex;
  width: 100%;
  margin: 30px auto;
  gap: 10px;
}
#con04 ul li {
  width: calc((100% - 30px) / 4);
  height: 30vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
/*하나둘셋넷 버튼*/
#con04 ul li div {
  width: fit-content;
  background-color: #fa5019;
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}
#con04 ul li h4 {
  font-size: 1.3rem;
}
#con04 ul li p {
  font-size: 1.1rem;
  margin-bottom: 100px;
  /* background-color: #444; */
}
/*상자 안 화살표*/
#con04 ul i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 50%;
  font-size: 1.3rem;
  z-index: 1;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
#con04 ul i:hover {
  color: #fa5019;
  /* background-color: #fa5019; */
  border: 1px solid #fa5019;
}
/*안전진단-safe*/
#con04 .safe {
  position: relative;
}
#con04 .safe01 {
  position: absolute;
  top: 0%;
  left: 0%;
  /* display: none; */
}
#con04 .safe02 {
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
}

/*--------con05---------*/
#con05 {
  width: 1400px;
  height: 100vh;
  margin: 0px auto;
}
/*con05 글자+사진*/
#con05 .wrap {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}
/*con05 왼쪽 글상자*/
#con05 .text {
  width: 30%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#con05 h3 {
  font-size: 0.8rem;
  color: #fa5019;
}
#con05 h4 {
  font-size: 3rem;
  font-weight: 900;
}
#con05 .text div {
  background-color: #fa5019;
  width: 1px;
  height: 3rem;
}
#con05 .text p {
  font-size: 1rem;
}
/*con05 오른쪽 이미지*/
#con05 .kit {
  width: 70%;
  height: 100%;
}
#con05 .kit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #333;
}

/*con05 그림아래 글설명*/
#con05 .bottomtext {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: right;
  margin-top: 20px;
}
/*--------con06---------*/
#con06 {
  background-color: #0d0d0d;
  color: #fff;
  height: 60vh;
  width: 100%;
}
#con06 > div {
  width: 1400px;
  height: 55%;
  display: flex;
  justify-content: space-between;
  padding: 100px 20px;
  margin: 0px auto;
}
/*con06 왼쪽글자*/
#con06 .sang {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#con06 .sang > p:first-child {
  color: #999;
  font-weight: 600;
  font-size: 1.1rem;
}
#con06 .sang h3 {
  font-size: 5rem;
}
#con06 .sang > p:last-child {
  color: #999;
  font-size: 0.9rem;
}
/*con06 오른쪽 글자(컨설팅)*/
#con06 .gong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 1.1rem;
}
#con06 .gong a {
  display: block;
}

/*------------footer-------------*/
footer {
  background-color: #0d0d0d;
  width: 100%;
  color: #fff;
}
/*footer 상단 리스트*/
footer div:nth-of-type(1) {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin: 0px auto;
  font-size: 0.8rem;
}
footer div:nth-of-type(1) ul {
  display: flex;
  gap: 10px;
}
/*footer 중단 리스트*/
footer div:nth-of-type(2) {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 20px auto;
  font-size: 0.7rem;
  color: #777;
}
footer div:nth-of-type(2) ul {
  display: flex;
  gap: 10px;
}

footer a {
  display: inline-block;
}
/*footer 하단*/
footer div:nth-of-type(3) {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 20px auto 0px;
  font-size: 0.7rem;
  color: #777;
}
footer div:nth-of-type(3) ul {
  display: flex;
  gap: 10px;
}
